<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCF0lcVvEqTF8t15smTEF4Ye4x_v5AwPRI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035579188491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afinance.dengi</string>
	<key>PROJECT_ID</key>
	<string>com-afinance-dengi</string>
	<key>STORAGE_BUCKET</key>
	<string>com-afinance-dengi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035579188491:ios:ccdaebac143456e7682e0e</string>
</dict>
</plist>